<div class="container">
  <% @components.each do |component| %>
      <div class="row">
        <div class="col-md-6">
          Helicoptero:
          <%= Helicopter.find(System.find(component.system_id).helicopter_id).plate_number %> <br/>
          Sistema:
          <%= System.find(component.system_id).title %> <br/>
          Nombre:
          <%= component.name %> <br/>
          Tiempo transcurrido:
          <%= component.elapsed_time %> <br/>

        </div>
        <div class="col-md-6">
          <%= form_for component do |f| %>
              <div class="row">

                <div class="col-md-5">
                  <%= f.select(:state, [%w(new new),%w(overhauled overhauled)], {}, {class: 'form-control'}) %>
                  <%= f.submit 'Mantenimiento realizado', class: 'btn btn-success btn-state' %>
                </div>
              </div>

          <% end %>
        </div>
      </div>

      <hr/>
  <% end %>
</div>




