<div class="container">
  <h2>LISTA DE VUELOS</h2>
  <% @flight_sheets.each do |flight_sheet| %>
      <h5>
        <strong>Hora de salida:</strong>
        <%= flight_sheet.departure_time %>
        <strong>Hora de llegada:</strong>
        <%= flight_sheet.arrival_time %>
      </h5>
      <%= link_to 'Editar', edit_flight_sheet_path(flight_sheet) %>|
      <%= link_to 'Mostrar', flight_sheet_path(flight_sheet) %>|
      <%= link_to 'Eliminar', flight_sheet_path(flight_sheet), method: :delete %> <br/>
      <hr/>
  <% end %>
  <%= link_to 'Nueva hoja de vuelo', new_flight_sheet_path, class: 'btn btn-primary' %>
</div>
