<div class="container">
  <strong>Placa de la aeronave:</strong>
  <%= @flight_sheet.helicopter.plate_number %> <br/>
  <strong>Hora de salida:</strong>
  <%= @flight_sheet.departure_time %> <br/>
  <strong>Hora de llegada:</strong>
  <%= @flight_sheet.arrival_time %> <br/>
  <%= link_to 'Lista de hojas de vuelo', flight_sheets_path %> |
  <%= link_to 'Editar', edit_flight_sheet_path(@flight_sheet) %>
</div>
